{% extends 'master.html' %}
{% load static %}
{% load humanize %}



{% block content %}
<style>
  #id_new_password1{
    display: block;
    height: 45px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #e6e6e6;
    border-radius: 22px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#id_new_password2{
  display: block;
    height: 45px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #e6e6e6;
    border-radius: 22px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
label{
  font-size: 24px;
}
</style>



<div class="container">
    <div class="row justify-content-center mt-5 text-white text-center">
        <div class="col-md-7">
            

        <div class="card-ico text-dark">
            <div class="card-body" style="padding: 60px; text-align: left;">
              {% if validlink %}
                <h3>Change password</h3>
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer mt-3 mb-3" type="submit">Change password</button>
                </form>
              {% else %}
                <p>
                  The password reset link was invalid, possibly because it has already been used.
                  Please request a new password reset.
                </p>
              {% endif %}
            </div>
          </div>


        </div>
    </div>
</div>





{% endblock %}











 




