{% extends 'master.html' %}
{% load static %}
{% load humanize %}



{% block content %}
<style>
  #id_email{
    display: block;
    height: 45px;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #e6e6e6;
    border-radius: 22px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
label{
  font-size: 24px;
  color: black;
}
</style>



<div class="container">
    <div class="row justify-content-center mt-5 text-white text-center">
        <div class="col-md-5">
            <h3 class="mb-5 text-dark">Password reset <span style="color: #cf71af;">minihaircare.com</span></h3>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer mt-3 mb-3" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>





{% endblock %}











 
