

{% extends 'master.html' %}
{% load static %}
{% load humanize %}



{% block content %}
<style>
  #id_email{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
label{
  font-size: 24px;
}
</style>



<div class="container p-5">
    <div class="row justify-content-center mt-5 text-white text-center">
        <div class="col-md-7">
            

        
        <div class="card-ico text-dark">
          <div class="card-body">
            <p>
              Your password has been set. You may go ahead and <a href="/loginuser" style="color: #cf71af;">Login</a> now.
            </p>
          </div>
        </div>


        </div>
    </div>
</div>





{% endblock %}











 







